a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style: none;
}

body{
    margin: 0;
}

.logo img{
    height: auto;
    width: 100px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 5px;
    align-items: center;
}

.links ul{
    display: flex;
    gap: 10px;
}