a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style: none;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    
}

.logo img{
    height: auto;
    width: 100px;
}

.header{
    display: flex;
    padding: 6px 50px;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
}

.links ul{
    display: flex;
    gap: 10px;
}

.subheader{
    background-color: #1F2937;
    display: flex;
    align-items: flex-start;
    padding: 50px;
    gap: 16px;
}

.image img{
    height: auto;
    max-width: 300px;
}

h1{
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    margin: 0;
}

.text{
    flex: 1;
}

p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 6px 0px;
}

.text button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 3px 16px;
    color: #E5E7EB;
    border: none;
    font-weight: 900;
}

